<ion-header>
</ion-header>

<ion-content>
<div class="padding">
  <div class="logo">
    <img src="../../assets/icon/plate-fork-and-knife.svg" alt="">
  </div>
  <div class="logo2" text-center>
    <img src="https://fontmeme.com/permalink/190930/f4b775eef1941c3dfabb9b597b37ddde.png" alt="netflix-font" border="0">
  </div>
  <div class="slogan">
    <h4 text-center>Le concentré de la cuisine française sur votre mobile</h4>
  </div>  
  <div class="button">
    <ion-button color="success" expand="block" (click)="goConnect()" shape="round">Connexion</ion-button>
  </div>
  <div class="button2">
    <ion-button color="success" expand="block" (click)="goSignin()" shape="round">Inscription</ion-button>
  </div>
</div>
</ion-content>
