ion-toolbar
{
    --background: #10dc60;
    --color: #fff;
}

ion-menu-button
{
    --color: #fff;
}

.img
{
 margin-left: 50px;
 margin-right: 50px;
}

.container
{
    display: flex;
    margin-top: 10px;
}

.child
{
    justify-content: center;
    margin: auto;
}

ion-item
{
    margin-right: 30px;
    margin-left: 20px;
}